<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="Server=f8d2868c-56cd-42e7-92e3-a464010c77d5.sqlserver.sequelizer.com;Database=dbf8d2868c56cd42e792e3a464010c77d5;User ID=fkbtdoczeeioddly;Password=iB6hSaa2U6zEaLC872Eira6LgULBxts5MbhCQsNmxk8mhH3GPtJpHrQiEta7vECz;" />
  </connectionStrings>
</configuration>